@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  color: #000000;
  background-color: #ffffff;
}

textarea {
  color: #000000;
  background-color: #ffffff;
}

.custom-swal {
  z-index: 9999 !important;
}

.custom-dialog {
  width: 100vw !important;
  height: auto !important;
  /* max-height: 55vh !important; */
  position: fixed !important;
  bottom: 0 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background: #F7F7F7 !important;
}

/* custom react-slick */
/* .slick-dots li button::before{
  width: 40px;
  height: 40px;
} */

/* custom tabs on booking approval */
.custom-selected-tab {
  border-bottom: none !important;
}

.custom-chip-label {
  color: #003b95 !important;
  font-weight: 400;
  font-size: 14px;
}