@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  color: #000000;
  background-color: #ffffff;
}

/* calendar */
/* border none */
.fc td,
.fc th {
  border-style: none !important;
}

thead {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.fc-scrollgrid {
  border: none !important;
}

/* custom prev & next button */
.fc-button-primary {
  background-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  color: black !important;
}

.fc .fc-daygrid-day-events {
  display: none;
}

.fc-daygrid-day-top {
  background: red;
}

/* text's cell alignment */
.fc-daygrid-day {
  background-color: transparent !important;
  .fc-daygrid-day-frame {
    display: flex;
    align-items: center;
    .fc-daygrid-day-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }
  }
}

/* today cell */
/* .fc-day-today {
  background-color: transparent !important;
  .fc-daygrid-day-frame {
    .fc-daygrid-day-top {
      border: 1px solid black !important;
      border-radius: 8px;
    }
  }
} */

/* carousel slider */

.items {
  position: relative;
  /* width: 500px; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-auto-flow: column;
}

.items {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.items::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.allow-custom-btn{
  border: 1px solid black !important;
  svg{
    fill: #000000;
  }
}

.not-allow-custom-btn{
  border: 1px solid !important;
}